n8n/bot-error-archive.workflow.json
{
  "id": "bot-error-archive",
  "name": "Bot Error Archive",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "every-15-minutes",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8765/alerts/bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "collect-bot-alerts",
      "name": "Collect Bot Alerts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "if (!$json.notification_count) {\n  return [];\n}\nconst text = `?Bot???????\n${$json.message || '???????????????????'}`;\nreturn [{ json: { text } }];"
      },
      "id": "build-message",
      "name": "Build Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:6185/api/v1/im/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.ASTRBOT_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParametersJson": "={{JSON.stringify({umo:'napcat_onebot_v11:GroupMessage:' + $env.ASTRBOT_NOTIFY_GROUP_ID, message:$json.text})}}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "send-astrbot-group",
      "name": "Send to AstrBot Group",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        0
      ]
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Collect Bot Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Bot Alerts": {
      "main": [
        [
          {
            "node": "Build Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Message": {
      "main": [
        [
          {
            "node": "Send to AstrBot Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to AstrBot Group": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
