n8n/bot-health-monitor.workflow.json
{
  "id": "bot-health-monitor",
  "name": "Bot Health Monitor",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "every-10-minutes",
      "name": "Every 10 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8765/health/bot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "check-bot-health",
      "name": "Check Bot Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.ok) {\n  return [];\n}\nconst text = `?Bot???????\n${$json.message || '?????????????????'}`;\nreturn [{ json: { text } }];"
      },
      "id": "format-message",
      "name": "Build Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:6185/api/v1/im/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{$env.ASTRBOT_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParametersJson": "={{JSON.stringify({umo:'napcat_onebot_v11:GroupMessage:' + $env.ASTRBOT_NOTIFY_GROUP_ID, message:$json.text})}}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "send-astrbot-group",
      "name": "Send to AstrBot Group",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        0
      ]
    }
  ],
  "connections": {
    "Every 10 Minutes": {
      "main": [
        [
          {
            "node": "Check Bot Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Bot Health": {
      "main": [
        [
          {
            "node": "Build Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Message": {
      "main": [
        [
          {
            "node": "Send to AstrBot Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to AstrBot Group": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
