n8n/uu-market-radar.workflow.json
{
  "id": "uu-market-radar",
  "name": "UU Market Radar",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8765/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 900000
        }
      },
      "id": "run-radar",
      "name": "Run Radar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.candidate_count}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "has-candidates",
      "name": "Has Candidates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = ($json.candidates || []).slice(0, 5);\nconst lines = rows.map((item, index) => `${index + 1}. ${item.hash_name} | UU ${item.uu_price} | Steam?? ${item.steam_net_after_fee} | edge ${item.edge_percent}% | ?? ${item.on_sale_count}`);\nreturn [{ json: { text: `UU -> Steam ????\\n??: ${$json.generated_at}\\n??: ${$json.candidate_count}\\n\\n${lines.join('\\n')}` } }];"
      },
      "id": "format-message",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:6185/api/v1/im/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
              {
                "name": "X-API-Key",
                "value": "={{$env.ASTRBOT_API_KEY}}"
              },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParametersJson": "={{JSON.stringify({umo:'napcat_onebot_v11:GroupMessage:951944306', message:$json.text})}}",
        "options": {
          "timeout": 900000
        }
      },
      "id": "send-astrbot-951944306",
      "name": "Send to AstrBot 951944306",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:6185/api/v1/im/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
              {
                "name": "X-API-Key",
                "value": "={{$env.ASTRBOT_API_KEY}}"
              },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParametersJson": "={{JSON.stringify({umo:'napcat_onebot_v11:GroupMessage:716934519', message:$json.text})}}",
        "options": {
          "timeout": 900000
        }
      },
      "id": "send-astrbot-716934519",
      "name": "Send to AstrBot 716934519",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        -120
      ]
    }
  ],
  "connections": {
    "Every 2 Hours": {
      "main": [
        [
          {
            "node": "Run Radar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Radar": {
      "main": [
        [
          {
            "node": "Has Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Candidates": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Send to AstrBot 716934519",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to AstrBot 716934519": {
      "main": [
        [
          {
            "node": "Send to AstrBot 951944306",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to AstrBot 951944306": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
