n8n/uu-market-radar.workflow.json
{
  "name": "UU Market Radar",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8765/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 900000
        }
      },
      "id": "run-radar",
      "name": "Run Radar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.candidate_count}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "has-candidates",
      "name": "Has Candidates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $json.candidates || [];\nconst lines = rows.slice(0, 8).map((item, index) => {\n  return `${index + 1}. ${item.hash_name} | UU ${item.uu_price} | Steam到手 ${item.steam_net_after_fee} | edge ${item.edge_percent}% | 挂单 ${item.on_sale_count}`;\n});\nreturn [{ json: { text: `UU -> Steam 余额雷达\\n时间: ${$json.generated_at}\\n候选: ${$json.candidate_count}\\n\\n${lines.join('\\n')}` } }];"
      },
      "id": "format-message",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -100
      ]
    },
    {
      "parameters": {
        "content": "={{$json.text}}"
      },
      "id": "notify-placeholder",
      "name": "Notify Placeholder",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        960,
        -100
      ]
    }
  ],
  "connections": {
    "Every 2 Hours": {
      "main": [
        [
          {
            "node": "Run Radar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Radar": {
      "main": [
        [
          {
            "node": "Has Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Candidates": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Notify Placeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
