n8n/uu-market-radar.workflow.json
{
  "id": "uu-market-radar",
  "name": "UU Market Radar",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8765/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 900000
        }
      },
      "id": "run-radar",
      "name": "Run Radar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.notification_count}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "has-candidates",
      "name": "Has Candidates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        480,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = (($json.notifications && $json.notifications.length) ? $json.notifications : ($json.candidates || [])).slice(0, 10);\nconst riskLabel = { low: '低', medium: '中', high: '高' };\nconst lines = rows.map((item, index) => {\n  const risk = riskLabel[item.risk_level] || item.risk_level || '-';\n  const notes = (item.risk_notes || []).slice(0, 2).join(', ');\n  const noteText = notes ? ` | 风险 ${risk}(${notes})` : ` | 风险 ${risk}`;\n  return `${index + 1}. ${item.hash_name} | UU ${item.uu_price} | Steam到手 ${item.steam_net_after_fee} | edge ${item.edge_percent}% | 挂单 ${item.on_sale_count}${noteText}`;\n});\nconst title = ($json.notification_count && $json.notification_count > 0) ? `UU -> Steam 余额雷达（新增）` : `UU -> Steam 余额雷达`;\nreturn [{ json: { text: `${title}\\n时间: ${$json.generated_at}\\n候选: ${$json.candidate_count}\\n通知: ${$json.notification_count || 0}\\n\\n${lines.join('\\n')}` } }];"
      },
      "id": "format-message",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:6185/api/v1/im/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
              {
                "name": "X-API-Key",
                "value": "={{$env.ASTRBOT_API_KEY}}"
              },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParametersJson": "={{JSON.stringify({umo:'napcat_onebot_v11:GroupMessage:' + $env.ASTRBOT_GROUP_ID_2, message:$json.text})}}",
        "options": {
          "timeout": 900000
        }
      },
      "id": "send-astrbot-group-2",
      "name": "Send to AstrBot Group 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:6185/api/v1/im/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
              {
                "name": "X-API-Key",
                "value": "={{$env.ASTRBOT_API_KEY}}"
              },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParametersJson": "={{JSON.stringify({umo:'napcat_onebot_v11:GroupMessage:' + $env.ASTRBOT_GROUP_ID_1, message:$json.text})}}",
        "options": {
          "timeout": 900000
        }
      },
      "id": "send-astrbot-group-1",
      "name": "Send to AstrBot Group 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        -120
      ]
    }
  ],
  "connections": {
    "Every 2 Hours": {
      "main": [
        [
          {
            "node": "Run Radar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Radar": {
      "main": [
        [
          {
            "node": "Has Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Candidates": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Send to AstrBot Group 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to AstrBot Group 1": {
      "main": [
        [
          {
            "node": "Send to AstrBot Group 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to AstrBot Group 2": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
